<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% block title %}
    {% endblock %}
</head>
<body>

<!-- Container -->

<div id="container">
	<!-- Top -->
	<div class="top"> 
	<header>
		<div class="menu">
		    <ul>
		        <li><a href="{% url 'index' %}">Главная</a></li>
		        <li><a href="{% url 'job' %}">Опыт работы</a></li>
		        <li><a href="{% url 'learn' %}">Образование</a></li>
		    </ul>
	    </div>
	</header>
	</div>
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	<!-- Footer -->
	<div class="footer">
    	<div class="copyright">Copyright © 2016 Alex Pridacha</div>
	</div>
	<!-- /Footer --> 
</div>
</body>
</html>
