{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <title>Опыт работы | Александр Придача</title>
{% endblock %}
{% block content %}
	{% if not job_places%}
		{% block div %}
			<div class="no_information"><img src={% static '/basic_book_pencil.svg' %}/></div>
			<div class="no_information"><p>Нет информации об опыте работы </p></div>
		{% endblock %}
	{% endif %}
	{% for jp in job_places %}
		<div class="experience">{{jp.j_time}}</div>
		<div class="wplace">{{jp.j_place}}</div>
		<div class="wpost">{{jp.position}}</div>
		<div class="wdesc">{{jp.resp}}<br><br><br><br></div>
	{% endfor %}
{% endblock %}