{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <title>Образование | Александр Придача</title>
{% endblock %}
{% block content %}
	{% if not studing_places and not courses%}
		{% block div %}
			<div class="no_information"><img src={% static '/basic_book_pencil.svg' %}/></div>
			<div class="no_information"><p>Нет информации об образовании</p></div>
		{% endblock %}
	{% endif %}
	{% for sp in studing_places %}
		<div class="splace">{{sp.name}}</div>
		<div class="s_years">{{sp.studing_years}}</div>
		<div class="s_dep"><em>Факультет: </em>{{sp.department}}</div>
		<div class="s_spec"><em>Специальность: </em>{{sp.specialisation}}<br><br><br><br></div>
	{% endfor %}
{% endblock %}